.app {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.condition {
  display: flex;
  flex-direction: column;
  align-items: center;
}
